.timer_card {
    border: white solid 2px;
    border-radius: 10px;
    box-shadow:0 0 10px white;
    width:10rem;  
}
body{
    color:white;
    background: black;
}

#time {
    border-style:none;
    outline-width: 0;
    font-size:3rem;
    width:10rem;
    text-align: center;
    background: transparent;    
    color:inherit;
    
}
#btn-group{
    display:flex;
    justify-content: space-evenly;
}
button {
    border-radius: 50%;
    height:4rem;
    width:4rem;    
    border:2px solid white;
    background:black;
    padding-top:4%;
    outline-width: 0;
}
button:hover{
    background:gray;
}
button:active{
    background: transparent;
}
label{
    margin:.3vmin 0 .3vmin 0;
    display:flex;
    justify-content: center;    
}
#restart-img {    
   width:90%;
}
#reset-img{
    width:80%;
}