.timer_card {
    border: white solid 1px;
    border-radius: 1vmin;
    box-shadow:0 0 1vmin white;
    width:10rem;  
}
body{
    color:white;
    background: black;
}

input {
    border-style:none;
    outline-width: 0;
    font-size:3rem;
    width:10rem;
    text-align: center;
    background: transparent;    
    color:inherit;
}
#btn-group{
    display:flex;
    justify-content: space-evenly;
}
button {
    border-radius: 50%;
    height:4rem;
    width:4rem;
}


#cb_container{
    display:flex;
}